@media all and (max-width: 991px) {
    /* home page*/

    .course_mainn h2>a {
        font-size: 5vw;
    }
    img{
        width:100%;}
    p {
        font-size: 100%;
    }
    .bnr_subtitle {
        font-size: 7vw;
        padding-top: 15px;
    }
    .bnr_title {
        font-size: 8vw;
        padding-bottom: 2px;
    }
    .banner_aaset {
        width: 100%;
    }
    .banner_cover {
        height: 290px;;
    }
    .banner_main {
        height: auto;
    }
    .search_item input[type="text"] {
        min-width: 90%;
        margin-bottom: 3px;
    }
    .search_item select {
        min-width: 90%;
        margin: 3px 5px;
    }
    .search_item input[type="submit"] {
        padding: 5px 19px;
        margin: 9px 6px;
    }
    .pdnt-40 {
        padding-top: 15px;
    }
    .pdnb-40 {
        padding-bottom: 15px;
    }
    .pdnb-50 {
        padding-bottom: 15px;
    }
    .pdnt-50 {
        padding-top: 15px;
    }
    .pdnt-30 {
        padding-top: 15px;
    }
    .service_img {
        height: auto;
        margin-bottom: 15px;
    }
    .course_details {
        font-size: 100%;
        height: auto;
    }
    .top_course_footer {
        height: 37px;
        margin-bottom: 15px;
    }
    .top_course_footer p {
        font-size: 100%;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        background-color: #34495e;
        border-radius: 15px;
    }
    #top_course .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        color: #ffffff;
    }
    #top_course .nav>li>a {
        font-size: 5vw;
    }
    .nav-tabs {
        margin-bottom: 20px;
    }
    .title {
        font-size: 6vw;
    }
    .span12 h2 {
        font-size: 7vw;
    }
    #news_letter .span12 input[type="text"] {
        margin: 15px 5px;
    }
    .title_details {
        font-size: 3vw;
        line-height: 15px;
    }
    .teacher_text {
        position: relative;
        bottom: 0;
    }
    .grid figure figcaption, .grid figure figcaption > a {
        position: relative;
    }
    .grid figure {
        height: auto;
    }
    .instructor_main h1 {
        font-size: 8vw;
    }
    .instructor_main p {
        font-size: 100%;
    }
    .instructor_main {
        height: auto;
        margin-bottom: 18px;
    }
    .ad_main {
        height: auto;
    }
    .gallery_img {
        margin-bottom: 15px;
    }
    #fade-quote-carousel blockquote {
        font-size: 4vw;
    }
    #carousel {
        background: #1c384b;
        background-image: none!important;
    }
    #footer .col-xs-12{
        text-align: center;
    }
    .adress, .contact, .social_footer {
        padding-left: 0;
    }
    #footer .top_social {
        float: none;
    }
    .navbar-brand {
        padding: 5px 15px;
    }
    .navbar-toggle {
        background-color: #8cc540;
    }
    .navbar-nav > li > a {
        margin: 0 15px;
        padding: 0 20px;
        padding-top: 14px;
        font-family: popi_light, sans-serif;
    }
    .bottom_footer {text-align: center;}
    .bottom_footer p {float: none!important;}
    .service_title {
        font-size: 9vw;
    }
    .teacher_name {
        font-size: 6vw;
    }
    .grid figure figcaption {
        padding: 1em;
    }
    /* home page*/
    /* courses page*/
    #page_heading {
        height: 65px;
    }
    .page_heading h1 {
        padding: 0;
        font-size: 6vw;
        padding-top: -2px;
        margin-top: 10px;
    }
    /* courses page*/
    /* courses details page*/
    .article_cover {
        height: auto;
    }
    .article_heading {
        font-size: 6vw;
    }
    .achieve_text {
        padding-left: 0;
    }
    #course_details h2 {
        font-size: 5vw;
        padding-top: 0;
        padding-bottom: 0;
        margin: 8px;
    }
    /* courses details page*/
    /* teacher details page*/
    .bio_img {
        height: auto;
    }
    #rating {
        height: auto;
    }
    .Review {
        height: auto;
    }
    .teacher_grid {
        margin-bottom: 7px;
    }
    /* teacher details page*/
    /* resource page*/
    #quick_learn .resource_img_hover {
        height: 49.2vw;
    }
    /* resource page*/
}
@media only screen and (min-device-width : 500px) and (max-device-width : 767px) {
    .page_heading_back img{

    }
    .course_mainn h2>a {
        font-size: 3vw;
    }
    .banner_cover {
        height: 343px;
    }
    .bnr_title {
        font-size: 6vw;
    }
    .search_item input[type="text"] {
        min-width: 84%;
        margin-bottom: 9px;
    }
    .search_item select {
        min-width: 84%;
        margin: 9px 5px;
    }
    .bnr_subtitle {
        font-size: 6vw;
    }
    #top_course .nav>li>a {
        font-size: 3vw;
    }
    .course_title {
        font-size: 3vw;
    }
    .course_details {
        font-size: 2.4vw;
        height: auto;
    }
    .top_course_footer {
        height: 47px;
    }
    .title {
        font-size: 3vw;
    }
    .span12 h2 {
        font-size: 5vw;
        font-family: popi_light;
    }
    .title_details {
        font-size: 2.4vw;
        line-height: 22px;
    }
    p {
        font-size: 2.4vw;
        font-family: popi_light;
    }
    .bottom_footer p {
        font-size: 1.9vw;
    }
    .gallery p {
        padding: 17px 9px;
    }
    .achieve_text {
        padding-left: 60px;
    }
    .article_heading {
        font-size: 4vw;
    }
    #course_details h2 {
        font-size: 3.5vw!important;
    }
    .teacher_name {
        font-size: 4vw;
    }
    /* resource page*/
    #quick_learn .resource_img_hover {
        height: 49.6vw;
    }
    #quick_learn .resource_img_hover a {
        font-size: 5vw;
    }
    /* resource page*/
}
@media only screen and (min-device-width : 768px) and (max-device-width : 991px) {
    .course_mainn h2>a {
        font-size: 2vw;
    }
    .banner_cover {
        height: 387px;
    }
    .bnr_title {
        font-size: 6vw;
    }
    .search_item input[type="text"] {
        min-width: 60%;
        margin-bottom: 9px;
    }
    .search_item select {
        min-width: 60%;
        margin: 9px 5px;
    }
    .bnr_subtitle {
        font-size: 6vw;
    }
    #top_course .nav>li>a {
        font-size: 3vw;
    }
    .course_title {
        font-size: 2.1vw;
    }
    .course_details {
        font-size: 2vw;
        height: auto;
    }
    .top_course_footer {
        height: 47px;
    }
    .title {
        font-size: 3vw;
    }
    .span12 h2 {
        font-size: 4vw;
        font-family: popi_light;
    }
    .title_details {
        font-size: 2.4vw;
        line-height: 22px;
    }
    p {
        font-size: 2.2vw;
        font-family: popi_light;
    }
    .bottom_footer p {
        font-size: 1.9vw;
    }
    .gallery p {
        padding: 17px 9px;
    }
    .navbar-nav > li > a {
        margin: 0 0;
        padding: 0 10px;
        padding-top: 10px;
    }
    .service_title {
        font-size: 3vw;
    }
    .search_item input[type="submit"] {
        padding: 5px 19px;
        display: block;
        text-align: center;
        margin: auto;
    }
    .instructor_main h1 {
        font-size: 7vw;
    }
    .achieve_text {
        padding-left:60px;
    }
    .article_heading {
        font-size: 4vw;
    }
    #course_details h2 {
        font-size: 3vw!important;
    }
    .teacher_name {
        font-size: 1.7vw;
    }
    #quick_learn .resource_img_hover a {
        font-size: 4vw;
    }
}
@media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    .navbar-brand>img {
        width: 80%;
    }
        .pagecolumn_reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .advance-search .form-group {
        display: inline-block;
        margin-top: 12px;
        margin-bottom: 7px;
    }
    .search-btn.btn {
        margin-top: 5px;
    }
}
@media only screen and (min-device-width : 1200px) and (max-device-width : 1650px) {
    .main_logo img {
        width: 79%;
    }
}
